ACCESSTOKENSECRET=longrandomstring
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
CLOUDINARY_CLOUD_NAME=cloud_name
PORT=3002
NODE_ENV=development
CORS=*
DB_DIALECT=postgres
DB_HOST=localhost
DB_NAME=db_name
DB_PASS=db_pass
DB_PORT=5432
DB_USER=db_user
MAIL_HOST=mail.domain.com
MAIL_PASS=password
MAIL_PORT=465
MAIL_REJECTUNAUTHORIZED=false
MAIL_SECURE=true
MAIL_USER=info@domain.com
REFRESHTOKENSECRET=longrandomstring
host=localhost
httpOnly=false
sameSite=strict
secure=false